.custom_nav{
	font-size: small;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3)
}
.custom_nav ul.dropdown-menu{
    font-size: small;
}
.custom-divider{
	 height: 5px;
	 background: linear-gradient(60deg, blue, pink);
}
.main-banner{
	padding-top: 150px;
	padding-bottom: 100px;
	background-image: url('img/sunset.jpg');
	background-size: cover;
}
.feature-holder{
	text-align: center;
	margin-bottom: 25px;
}
section.features{
	padding-bottom: 25px;
	padding-top: 35px;
	background-color: whitesmoke;

}
.feature-holder h3{
	font-size: 1.2em;
}
.feature-holder p{
	font-size:14px;
}
section.online-courses , .review-slider , .page-content{
	padding-top: 35px;
	padding-bottom: 35px
}
.online-courses-text-widget{
	text-align: center;
}
.online-courses-text-widget h2{
	font-size: 1.3em;
}
.online-courses-text-widget p{
	font-size: 14px;
}
.online-course-card , .review-text-widget{
    text-align: center;
    margin-bottom: 25px;
}
h3.card-title {
    font-size: 1.2em;
    line-height: 25px;
}
p.card-text {
    font-size: 14px;
}
section.classroom-courses{
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: whitesmoke;
}
.classroom-courses-text-widget , .review-text-widget{
	text-align: center;
}
.classroom-courses-text-widget h2 ,.review-text-widget h2{
	font-size: 1.3em;
}
.classroom-courses-text-widget p , .review-text-widget p{
	font-size: 14px;
}
.review-slider{
	background-color: #ececec;
}
.sign-up-form-sidebar .card-title{
	font-size: 1.2em;
}
.sign-up-form-sidebar .card-text{
	font-size: 14px;
}
.list-group-item.list-group-item-action.list-group-item-dark {
    background-color: #6c757d;
    color: white;
}
.course-list-item {
	color: black;
	font-size: small;
	padding-top: 20px;
}
.image{
	width: 100px;
	height: 100px;
	padding-right: 10px
}
#review-slider-content li .card{
	text-align: center;
}
#review-slider-content li .card img{
	margin-bottom: 15px;
}
#review-slider-content li .card-title{
	font-size: 18px;
	font-weight: bold;
}
#review-slider-content li .card .star{
	color: orange;
	font-size: 14px;
}
#review-slider-content li .card .card-text{
	font-size: 14px;
}
footer.main-footer {
    background-color: #212529;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}
aside.footer-widget{
	margin-bottom: 25px;
}
aside.footer0px;-widget h5{
	font-size: 16px;
}
aside.footer-widget ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}
aside.footer-widget ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #adadad;
	display: inline-block;
	margin-bottom: 5px;
}
address h2{
	font-size: 20px;
}
address p{
	font-size: 14px;
}
section.copy{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: black;
	color: white;
	font-size: 14px;
	text-align:center;
}
section.copy p{
	margin: 0px;
}
.online-course-card:hover , .list-group-item:hover{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	transition-duration: 0.4s;
}
.page-content{
	background-color: whitesmoke;
}
.google{
	padding-top: 56px;
}

